.called-section {
	margin: 10px;
	padding: 10px;
	font-size: 14px;
	font-family: "Google Sans", Helvetica, Arial, sans-serif, Roboto, RobotoDraft;
}

.called-section h1 {
	margin: auto;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: #191414;
}

.called-data {
	margin-top: 10px;
	padding-top: 30px;
	border-top: 1px dashed #191414;
}

.called-data table {
	width: 100%;
}

.called-td {
	padding: 5px 15px;
	min-width: 30%;
	vertical-align: top;
	color: #191414;
}

.called-td p {
	margin-right: 5px;
	display: inline;
	color: rgb(25, 25, 25);
}

.called-td-title {
	font-weight: bold;
}

.called-data-desc {
	margin-top: 15px;
	padding: 20px;
	border: 2px dotted rgb(153, 148, 148);
	border-radius: 5px;
}

.called-data-desc h4 {
	margin: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 15px;
}

.externa-link {
	text-align: center;
}

.externa-link a {
	text-decoration: none;
}

.call-follow-section {
	margin-top: 30px;
	border-top: solid 1px rgb(153, 148, 148);
}

.list-message {
	margin: auto;
	padding: 0px;
	max-width: 540px;
}

.box-message {
	position: relative;
	margin-bottom: 30px;
	list-style: none;
	color: #fefefe;
}

.box-message-info {
	padding: 10px 15px;
	background-color: #191414;
	font-size: 14px;
	font-weight: bold;
	border-top-right-radius: 15px;
}

.box-message:first-child {
	margin-bottom: 150px;
}

.box-message:first-child>.box-message-info {
	background-color: #d82b3c;
	color: #fefefe;
}

.box-message:first-child>.box-message-text {
	background-color: #dc3545;
	color: #fefefe;
}

.box-message:first-child::after {
	margin-top: 75px;
	width: 100%;
	position: absolute;
	padding: 15px;
	box-sizing: border-box;
	content: "Últimos acompanhamentos";
	background-color: #191414;
	border-radius: 15px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.box-message-info:last-child {
	text-align: center;
	font-size: 15px;
	border-radius: 15px;
}

.box-message-info-date {
	margin-top: 5px;
}

.box-message-text {
	padding: 10px 15px;
	background-color: #221e1e;
	font-size: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.box-message-text p {
	line-height: 20px;
}